body {
    background: pink;
}

.titulo {
    background: black;
    color: white;
    height: 30px;
    padding:  30px 30px;
}   

h1 {
    font-size: 60px;
    top: -3%;
    left: 30%;
    text-align: center;
    position: absolute;
}

.modulos{
    background: black;
    position: absolute;
    color: white;
    top: 30%;
    left: 0,5%;
    width: 200px;
    height: 150px;
    border-radius: 5%;
    padding: 10px 20px;
}

.modulos a[type="uno"],
.modulos a[type="dos"],
.modulos a[type="tres"],
.modulos a[type="cuatro"] { 
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: white;
    position: absolute;
}

.modulos a:hover {
    color: gray;
}

.eliminar_productos{
    background: black;
    color: whitesmoke;
    width: 900px;
    height: 400px;
    position: absolute;
    left: 20%;
    top: 30%;
    padding: 70px 30px;
    border-radius: 5%;
}

.eliminar_productos label{
    margin: 0;
    padding: 0;
    display: block;
    font-weight: bold;
    text-align: center;
}

.eliminar_productos input{
    width: 100%;
    margin-bottom: 20px; 
    text-align: center;
}

.eliminar_productos input[type="text"],
.eliminar_productos input[type="number"] {
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}    

.eliminar_productos input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: red;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

.titulo a {
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    color: gray;
    left: 90%;
    position: absolute;
}
.titulo a:hover {
    color: white;
}

