body {
    background: pink;
}

.titulo {
    background: black;
    color: white;
    text-align: center;
}   

.titulo a {
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    color: gray;
}

.titulo a:hover {
    color: white;
}

.modulos{
    background: black;
    color: white;
    width: 200px;
    height: 150px;
    border-radius: 5%;
    padding: 10px 20px;
}

.modulos a[type="uno"],
.modulos a[type="dos"],
.modulos a[type="tres"],
.modulos a[type="cuatro"] { 
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: white;
}

.modulos a:hover {
    color: gray;
}


